.cart-card {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;

}

.cart-header {
  margin-bottom: 20px;
  text-align: center;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
 
}

.cart_tr
{
  margin-left: 25px;
}


.cart-table th {
  background-color: #f8f9fa;
  /* font-weight: bold; */
  font-size: 10px;
}

.product-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item-image {
  margin-right: 10px;
  object-fit: cover;
  border-radius: 4px;
}

.cart_head
{
  font-size: 10px;
}
.cart-summary {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #dee2e6;
}

.summary-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  font-size: 1.2rem;
}

.remove-item
{
  position: block;
  margin-top: 50%;
}

.place-order-btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #495E70;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .7s ease;
}

.place-order-btn:hover {
  background-color: transparent;
  border:2px solid #1c3e5b;
  color: #000;
}

.empty-cart {
  text-align: center;
  padding: 20px;
}

.empty-cart-gif {
  margin-bottom: 10px;
}