.admin-testimonials {
    padding: 20px;
  }
  
  .testimonial-list {
    display: flex;
    margin-top: 20px;
}

.testimonial-card {
    margin: 25px;
    border: 1px solid #e3c2c2;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
  }
  .testimonial-list  :hover{
    transform: scale(1.01);    
}
  
  .testimonial-card img,
  .testimonial-card video {
    max-width: 100%;
    height: auto;
  }
  