 .admin-sidebar {
    width: 250px;
    height: 100vh;
    background-color: var(--third);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    
  }

  /* .toggle_container
  {
    background-color: #001e33;
  } */

  .admin-sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    width: 250px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
  }
  
  .admin-sidebar.open {
    left: 0;
  }
  
  .sidebar-toggle {
    background-color: rgb(16, 14, 11);
    position:absolute;
    left: 10px;
    top: 10px;
    z-index: 1001;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .admin-sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--black);
    text-align: center;
  }
  
  .admin-sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-direction: column;
  }
  
  .admin-sidebar ul li {
    display: flex;
    margin: 15px 0;
}

.admin-sidebar ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .admin-sidebar ul li a:hover {
    background-color: var(--primary);
    color: var(--white);
  }
  
  .admin-sidebar ul li a.active {
    border-bottom: 2px solid #001e33;
  }
  
 

   

@media (min-width: 769px) {
  .admin-sidebar {
    left: 0;
  }

  .sidebar-toggle {
    display: none;
  }

  .toggle_container
  {
    background-color: transparent;
  }
}

.sidebar-toggle {
  background: none;
  border: none;
  color: var(--black);
  font-size: 24px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .toggle_container {
    display: none;
  }

  .admin-sidebar {
    left: 0;
    padding-top: 20px;
  }
}