.product_container {
  margin: 0 auto;
  /* max-width: 1200px; */
  background-color: var(--third);
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 4 cards in a row on large screens */
  gap: 16px; 
}

.product-item {
  background-color: var(--product-color);
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.product-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 150px; /* Control the image height */
  object-fit: cover; /* Cover the space without stretching */
}

.card-body {
  padding: 10px; /* Padding inside the card */
}


.pro_dec
{
  /* font-family: "Great Vibes"; */
  
  font-size: 14px;
}
@media (max-width: 576px) {

  .product-item {
    margin-top: 1.4rem; /* Add margin-top for small devices */
  }
}