.home_container {
    display: flex;
    /* border: 2px solid red; */
    background-color: #FFFFFF;
    padding: 15px;
    height: 100%;
    /* background-color: rgb(0, 135, 90); */
}

.left_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin-left: 25px;
  
}

.home_video {
    width: 400px;
    height: auto;
    float: right;
    display: flex;
    margin-right: -100%;
    /* border: 2px solid yellow;     */
}

.logo
{
    /* display: flex; */
    /* justify-content: center; */
    margin-left: -7%;
    height: 300px;
    width: 300px;
    margin-top: -50px;
    /* border: 2px solid; */
}


.left_container h1{
    /* margin-bottom: 155px; */
    font-weight: bold;
}

.home_content
{
    color: #000000;
    font-size: 16px;
    /* height: 100%; */
}


.left_container p {
    margin-left: 0%;
    margin-top: -50px;
    /* margin-bottom:50px; */
}

@media only screen and (max-width: 1024px) {

  

    .home_video {
        width: 400px;
        margin-left: 0%  ;
        float:none;
    }
  
}
@media only screen and (max-width: 768px) {

    .home_container {
        display: flex;
        flex-direction: column;
    }
    .right_container
    {
        display: flex;
        flex-direction: column;
    }

    .home_video {
        width: 400px;
        margin-left: 20%  ;
        float:none;
    }
    .logo
    {
        height: 350px;
        width: 350px;
        margin-left: 30%;
        /* margin-left: -50px; */
        /* margin-right:250px; */
    }

    .left_container p {
        margin-left: 35%;
        margin-top: -50px;
    }
}



@media only screen and (max-width: 450px) {

   
    .home_container {
        display: flex;
        flex-direction: column;
    }
    .right_container
    {
        display: flex;
        flex-direction: column;
    }

    .home_video {
        width: 300px;
        margin-left: 10%  ;
        float:none;
    }
    .logo
    {
        height: 350px;
        width: 320px;
        margin-left: 5%;
        /* margin-right:250px; */
    }

    .left_container p {
        margin-left: 0%;
        margin-top: -50px;
        margin-bottom:50px;
    }
  }

@media only screen and (max-width: 400px) {

   
    .logo
    {
        height: 350px;
        width: 320px;
        margin-left: -5%;
        /* margin-right:250px; */
    }

    .home_video {
        width: 300px;
        margin-left: 5%  ;
        float:none;
    }
    
  }
@media only screen and (max-width: 375px) {

   
    .logo
    {
        height: 350px;
        width: 320px;
        margin-left: -15%;
        /* margin-right:250px; */
    }

    .home_video {
        width: 300px;
        margin-left: -5%  ;
        float:none;
    }
    
  }