.card {
    border: 1px solid #000;
    background-color: #f3f1f1;
    border-radius: 15px;
    margin-bottom: 1rem;
    height: 100%;
  }
.card:hover {
    border: 2px solid #007585;
    box-shadow: 0 0 5px rgba(0,147,133,0.6) inset,
    0 0 10px 2px #00c2ed inset,
    0 0 15px 4px rgba(0,173,116,0.4) inset,
    5px 5px 5px rgba(0,0,0,0.41);
    /* color: #fff; */
    transition: 0.4s ease-out;
    /* border-radius: 0.25rem; */
      }
  .dust
  {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-subtitle {
    font-size: 1rem;
    color: #6c757d;
  }
  
  .card-body {
    padding: 1.25rem;
  }
  
  .btn-success {
    margin-bottom: 1rem;
  }
  
  .pagination {
    justify-content: center;
    margin-top: 1rem;
  }
  

  Card.Text
  {
    display: flex;
  }