@font-face {
  font-family: "SugarpunchDEMO";
  src: url('./fonts/SugarpunchDEMO.otf');
}
@font-face {
  font-family: "Lonely Coffee";
  src: url('./fonts/Lonely Coffee.ttf');
}
@font-face {
  font-family: "HogfishDEMO";
  src: url('./fonts/HogfishDEMO.otf');
}


:root {
  --primary: #495e70;
  --secondary: #FEF3E2;
  --third: #f4e869;
  --white: #fff;
  --black: #000;
}


body, html {
  margin: 0;
  padding: 0;
  /* font-family: "Kalam", cursive; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;

  /* font-size: 15px; */
  /* font-family: "HogfishDEMO"; */
  font-weight: 400;
  scroll-behavior: smooth;
  /* text-transform: uppercase; */
}

.App {
  text-align: center;
}

/* nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #001e4f;
  transition: top 0.3s;
} */

nav.hidden {
  top: -60px; /* Adjust this value based on the height of your navbar */
}

nav.visible {
  top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 21px;
}

nav ul li a:hover {
  background-color: #555;
}


