.orders-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .order-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
    justify-content: center;
  }
  
  .order-card {
    background: #c7667b;
    color: rgb(0, 0, 0);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;

    justify-content: space-between;
    padding: 25px;
  }
  
  .order-card h3 {
    font-size: 16px;
    margin: 0;
  }
  
  .order-card p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .order-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  
  .order-card li {
    margin-bottom: 2px;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .order-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .order-card {
      width: 100%;
      max-width: 100%;
    }
  }
  